{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2026-01-26T09:58:59.503104700Z",
     "start_time": "2026-01-26T09:58:59.489265700Z"
    }
   },
   "source": [
    "import matplotlib.pyplot as plt\n",
    "import pandas as pd"
   ],
   "outputs": [],
   "execution_count": 3
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:59:16.125748600Z",
     "start_time": "2026-01-26T09:58:59.682936500Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_cleaned = pd.read_csv('../data/interim/train_clean_after_2010_and_bad_tickers.csv')\n",
    "df_cleaned['date'] = pd.to_datetime(df_cleaned['date']) # make sure date is valid\n",
    "df_cleaned = df_cleaned[df_cleaned['date'] >= '2010-01-01']\n",
    "df_cleaned = df_cleaned.sort_values(['ticker', 'date']) # sort by date\n",
    "grouped_by_ticker_cleaned = df_cleaned.groupby('ticker')"
   ],
   "id": "d6e07cceeb00e5b4",
   "outputs": [],
   "execution_count": 4
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:59:17.508434300Z",
     "start_time": "2026-01-26T09:59:16.783915800Z"
    }
   },
   "cell_type": "code",
   "source": [
    "MAX_NORMAL_GAP = 2\n",
    "df_cleaned[\"prev_date\"] = grouped_by_ticker_cleaned[\"date\"].shift(1)\n",
    "df_cleaned[\"gap_days\"] = (df_cleaned[\"date\"] - df_cleaned[\"prev_date\"]).dt.days\n",
    "gaps_cleaned = df_cleaned[df_cleaned[\"gap_days\"] > MAX_NORMAL_GAP].copy()\n",
    "gaps_cleaned[\"missing_days\"] = gaps_cleaned[\"gap_days\"] - 1\n"
   ],
   "id": "eca94e220408355e",
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:59:17.601200600Z",
     "start_time": "2026-01-26T09:59:17.524041300Z"
    }
   },
   "cell_type": "code",
   "source": "gaps_cleaned.groupby('date').size()",
   "id": "148d1120b89357f",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "date\n",
       "2010-01-11    2216\n",
       "2010-01-19    2216\n",
       "2010-01-25    2217\n",
       "2010-02-01    2217\n",
       "2010-02-08    2219\n",
       "              ... \n",
       "2024-09-10       1\n",
       "2024-09-13       1\n",
       "2024-09-16    4841\n",
       "2024-09-17       1\n",
       "2024-09-23    4839\n",
       "Length: 1009, dtype: int64"
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 6
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:59:18.028305400Z",
     "start_time": "2026-01-26T09:59:17.726567900Z"
    }
   },
   "cell_type": "code",
   "source": "df_cleaned.groupby('date').size()",
   "id": "bac3f8deb6fa281e",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "date\n",
       "2010-01-04    2208\n",
       "2010-01-05    2214\n",
       "2010-01-06    2214\n",
       "2010-01-07    2214\n",
       "2010-01-08    2216\n",
       "              ... \n",
       "2024-09-17    4842\n",
       "2024-09-18    4841\n",
       "2024-09-19    4840\n",
       "2024-09-20    4840\n",
       "2024-09-23    4839\n",
       "Length: 3705, dtype: int64"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 7
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:59:18.233856700Z",
     "start_time": "2026-01-26T09:59:18.121854900Z"
    }
   },
   "cell_type": "code",
   "source": "",
   "id": "ec1779745d625211",
   "outputs": [],
   "execution_count": 7
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T10:12:57.006591800Z",
     "start_time": "2026-01-26T10:12:56.339773900Z"
    }
   },
   "cell_type": "code",
   "source": [
    "gap_counts = gaps_cleaned.groupby(\"date\").size()\n",
    "data_counts = df_cleaned.groupby(\"date\").size()\n",
    "gap_counts = (\n",
    "    gaps_cleaned.groupby(\"date\")\n",
    "    .size()\n",
    "    .rename(\"number_of_missed_records\")\n",
    "    .reset_index()\n",
    ")\n",
    "\n",
    "data_counts = (\n",
    "    df_cleaned.groupby(\"date\")\n",
    "    .size()\n",
    "    .rename(\"number_of_tickers_at_date\")\n",
    "    .reset_index()\n",
    ")\n",
    "gap_vs_data = pd.merge_asof(\n",
    "    gap_counts.sort_values(\"date\"),\n",
    "    data_counts.sort_values(\"date\"),\n",
    "    on=\"date\",\n",
    "    direction=\"nearest\"\n",
    ")\n"
   ],
   "id": "6299ce115ca113ae",
   "outputs": [],
   "execution_count": 11
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T10:13:19.132677300Z",
     "start_time": "2026-01-26T10:13:19.115119200Z"
    }
   },
   "cell_type": "code",
   "source": [
    "GLOBAL_THRESHOLD = 0.8\n",
    "import  numpy as np\n",
    "gap_vs_data[\"gap_ratio\"] = (\n",
    "    gap_vs_data[\"number_of_missed_records\"] / gap_vs_data[\"number_of_tickers_at_date\"]\n",
    ")\n",
    "\n",
    "gap_vs_data[\"gap_type\"] = np.where(\n",
    "    gap_vs_data[\"gap_ratio\"] >= GLOBAL_THRESHOLD,\n",
    "    \"global\",\n",
    "    \"local\"\n",
    ")\n"
   ],
   "id": "68601207503d1830",
   "outputs": [],
   "execution_count": 13
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T10:17:45.502696100Z",
     "start_time": "2026-01-26T10:17:45.468661400Z"
    }
   },
   "cell_type": "code",
   "source": "gap_vs_data[gap_vs_data['gap_ratio']< 1]",
   "id": "3e3e0f6119e0eb7d",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "           date  number_of_missed_records  number_of_tickers_at_date  \\\n",
       "6    2010-02-22                      2222                       2224   \n",
       "7    2010-02-23                         1                       2225   \n",
       "13   2010-04-05                      2236                       2238   \n",
       "16   2010-04-26                      2243                       2244   \n",
       "17   2010-05-03                      2247                       2250   \n",
       "...         ...                       ...                        ...   \n",
       "999  2024-08-22                         1                       4845   \n",
       "1001 2024-08-29                         1                       4844   \n",
       "1004 2024-09-10                         1                       4842   \n",
       "1005 2024-09-13                         1                       4842   \n",
       "1007 2024-09-17                         1                       4842   \n",
       "\n",
       "      gap_ratio gap_type  \n",
       "6      0.999101   global  \n",
       "7      0.000449    local  \n",
       "13     0.999106   global  \n",
       "16     0.999554   global  \n",
       "17     0.998667   global  \n",
       "...         ...      ...  \n",
       "999    0.000206    local  \n",
       "1001   0.000206    local  \n",
       "1004   0.000207    local  \n",
       "1005   0.000207    local  \n",
       "1007   0.000207    local  \n",
       "\n",
       "[444 rows x 5 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>date</th>\n",
       "      <th>number_of_missed_records</th>\n",
       "      <th>number_of_tickers_at_date</th>\n",
       "      <th>gap_ratio</th>\n",
       "      <th>gap_type</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>2010-02-22</td>\n",
       "      <td>2222</td>\n",
       "      <td>2224</td>\n",
       "      <td>0.999101</td>\n",
       "      <td>global</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>2010-02-23</td>\n",
       "      <td>1</td>\n",
       "      <td>2225</td>\n",
       "      <td>0.000449</td>\n",
       "      <td>local</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>2010-04-05</td>\n",
       "      <td>2236</td>\n",
       "      <td>2238</td>\n",
       "      <td>0.999106</td>\n",
       "      <td>global</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16</th>\n",
       "      <td>2010-04-26</td>\n",
       "      <td>2243</td>\n",
       "      <td>2244</td>\n",
       "      <td>0.999554</td>\n",
       "      <td>global</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17</th>\n",
       "      <td>2010-05-03</td>\n",
       "      <td>2247</td>\n",
       "      <td>2250</td>\n",
       "      <td>0.998667</td>\n",
       "      <td>global</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>999</th>\n",
       "      <td>2024-08-22</td>\n",
       "      <td>1</td>\n",
       "      <td>4845</td>\n",
       "      <td>0.000206</td>\n",
       "      <td>local</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1001</th>\n",
       "      <td>2024-08-29</td>\n",
       "      <td>1</td>\n",
       "      <td>4844</td>\n",
       "      <td>0.000206</td>\n",
       "      <td>local</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1004</th>\n",
       "      <td>2024-09-10</td>\n",
       "      <td>1</td>\n",
       "      <td>4842</td>\n",
       "      <td>0.000207</td>\n",
       "      <td>local</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1005</th>\n",
       "      <td>2024-09-13</td>\n",
       "      <td>1</td>\n",
       "      <td>4842</td>\n",
       "      <td>0.000207</td>\n",
       "      <td>local</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1007</th>\n",
       "      <td>2024-09-17</td>\n",
       "      <td>1</td>\n",
       "      <td>4842</td>\n",
       "      <td>0.000207</td>\n",
       "      <td>local</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>444 rows Ã— 5 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 17
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:32:49.259173200Z",
     "start_time": "2026-01-26T09:32:49.248320200Z"
    }
   },
   "cell_type": "code",
   "source": "global_dates = gap_vs_data.groupby('gap_type')",
   "id": "e4b9a76bc8618ac1",
   "outputs": [],
   "execution_count": 13
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-26T09:37:58.849565300Z",
     "start_time": "2026-01-26T09:37:58.836428Z"
    }
   },
   "cell_type": "code",
   "source": [
    "global_dates.get_group('global').to_csv('../data/interim/global_gaps_dates.csv')\n",
    "# for type ,group in global_dates:\n"
   ],
   "id": "f7ade396d5178845",
   "outputs": [],
   "execution_count": 33
  },
  {
   "metadata": {},
   "cell_type": "code",
   "source": "",
   "id": "cf3a2450d85b952e",
   "outputs": [],
   "execution_count": null
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}