In [37]:
import matplotlib.pyplot as plt
import pandas as pd

In [39]:
df_cleaned = pd.read_csv('data/interim/train_clean_after_2010_and_bad_tickers.csv')
df_cleaned['date'] = pd.to_datetime(df_cleaned['date']) # make sure date is valid

df_cleaned = df_cleaned.sort_values(['ticker', 'date']) # sort by date
grouped_by_ticker_cleaned = df_cleaned.groupby('ticker')

In [43]:
MAX_NORMAL_GAP = 1
# df_cleaned["prev_date"] = grouped_by_ticker_cleaned["date"].shift(1)
# df_cleaned["gap_days"] = (df_cleaned["date"] - df_cleaned["prev_date"]).dt.days

In [62]:
gaps_cleaned = df_cleaned[df_cleaned["missing_days"] > 0].copy()
# gaps_cleaned["missing_days"] = gaps_cleaned["gap_days"] - 1
gaps_cleaned.groupby('missing_days').size()

missing_days
1      30585
2       5780
3       9985
4       6119
5       4127
       ...
361        1
383        1
390        1
514        1
527        1
Length: 154, dtype: int64

In [70]:
gaps_cleaned.groupby('date').agg(['min', 'max'])

                 ticker                   open                 high  \
                    min          max       min        max       min
date
2010-01-06  ticker_1095   ticker_942  0.840000  44.799999  0.840000
2010-01-07  ticker_1167   ticker_880  0.520000  48.988771  0.520000
2010-01-08  ticker_1160   ticker_942  0.800000  28.908117  0.850000
2010-01-12  ticker_1321   ticker_941  0.542425  44.677769  0.542425
2010-01-13  ticker_1499   ticker_815  0.751929  46.400002  0.753862
...                 ...          ...       ...        ...       ...
2024-09-13  ticker_2184  ticker_4675  3.810000  50.590000  3.930000
2024-09-17  ticker_1490   ticker_975  5.050000  50.599998  5.050000
2024-09-18  ticker_2980  ticker_4873  0.860000  25.270000  1.000000
2024-09-19  ticker_2148  ticker_4942  0.350000  46.750000  0.350000
2024-09-20  ticker_1786  ticker_4891  0.155000  62.410000  0.155000

                            low                close             ...  \
                  max       min        max       min        max  ...
date                                                             ...
2010-01-06  60.000000  0.840000  44.799999  0.840000  60.000000  ...
2010-01-07  48.988771  0.450000  45.069672  0.450000  45.069672  ...
2010-01-08  28.908117  0.760000  28.386824  0.760000  28.434214  ...
2010-01-12  44.677769  0.542425  44.677769  0.542425  44.677769  ...
2010-01-13  59.599998  0.751929  46.400002  0.753862  59.599998  ...
...               ...       ...        ...       ...        ...  ...
2024-09-13  50.599998  3.810000  50.529999  3.910000  50.599998  ...
2024-09-17  50.621899  5.050000  50.599998  5.050000  50.621899  ...
2024-09-18  25.360001  0.850000  25.129999  0.890000  25.205000  ...
2024-09-19  46.750000  0.350000  46.750000  0.350000  46.750000  ...
2024-09-20  62.880001  0.155000  61.830002  0.155000  62.880001  ...

           dividends      stock_splits      missing_days        return  \
                 min  max          min  max          min max       min
date
2010-01-06       0.0  0.0          0.0  0.0            1   1 -0.046729
2010-01-07       0.0  0.0          0.0  0.0            1   2 -0.122138
2010-01-08       0.0  0.0          0.0  0.0            1   3 -0.095238
2010-01-12       0.0  0.0          0.0  0.0            3   7 -0.250000
2010-01-13       0.0  0.0          0.0  0.0            1   8 -0.190840
...              ...  ...          ...  ...          ...  ..       ...
2024-09-13       0.0  0.0          0.0  0.0            1   3 -0.039532
2024-09-17       0.0  0.0          0.0  0.0            3   4 -0.033052
2024-09-18       0.0  0.0          0.0  0.0            1   5 -0.096629
2024-09-19       0.0  0.0          0.0  0.0            1   9 -0.008183
2024-09-20       0.0  0.0          0.0  0.0            1  16 -0.007073

                     return_is_outlier
                 max               min    max
date
2010-01-06  0.050000             False   True
2010-01-07  0.200000             False   True
2010-01-08  0.055652             False   True
2010-01-12  0.076190             False   True
2010-01-13  0.076923             False   True
...              ...               ...    ...
2024-09-13  0.026247             False   True
2024-09-17  0.049896             False  False
2024-09-18  0.020870             False  False
2024-09-19  0.129032             False  False
2024-09-20  0.016137             False   True

[2902 rows x 22 columns]

In [69]:
gaps_cleaned.groupby('ticker').get_group('ticker_2148')

,ticker,date,open,high,low,close,volume,dividends,stock_splits,missing_days,return,return_is_outlier
3649197,ticker_2148,2010-01-12,7.487140,7.487140,7.487140,7.487140,217767.0,0.0,0.0,3,-0.002907,False
3649198,ticker_2148,2010-01-14,7.377997,7.377997,7.377997,7.377997,544.0,0.0,0.0,1,-0.014577,False
3649201,ticker_2148,2010-01-22,6.701319,6.766804,6.688222,6.766804,314576.0,0.0,0.0,1,-0.025157,False
3649202,ticker_2148,2010-01-26,6.605509,6.605509,6.605509,6.605509,870.0,0.0,0.0,3,-0.023836,False
3649204,ticker_2148,2010-01-29,6.323674,6.323674,6.323674,6.323674,435.0,0.0,0.0,1,-0.037533,False
...,...,...,...,...,...,...,...,...,...,...,...,...
3650917,ticker_2148,2024-08-06,4.140000,4.140000,4.140000,4.140000,700.0,0.0,0.0,3,-0.041667,False
3650922,ticker_2148,2024-08-16,4.770000,4.770000,4.770000,4.770000,400.0,0.0,0.0,2,0.034707,False
3650926,ticker_2148,2024-08-27,5.100000,5.100000,5.100000,5.100000,300.0,0.0,0.0,4,0.058091,False
3650937,ticker_2148,2024-09-17,5.050000,5.050000,5.050000,5.050000,1100.0,0.0,0.0,3,0.049896,False
3650938,ticker_2148,2024-09-19,4.950000,5.250000,4.950000,5.250000,1200.0,0.0,0.0,1,0.039604,False

In [52]:
gap_counts = gaps_cleaned.groupby("date").size()
data_counts = df_cleaned.groupby("date").size()
gap_counts = (
    gaps_cleaned.groupby("date")
    .size()
    .rename("number_of_missed_records")
    .reset_index()
)

data_counts = (
    df_cleaned.groupby("date")
    .size()
    .rename("number_of_tickers_at_date")
    .reset_index()
)
gap_vs_data = pd.merge_asof(
    gap_counts.sort_values("date"),
    data_counts.sort_values("date"),
    on="date",
    direction="nearest"
)

In [47]:
GLOBAL_THRESHOLD = 0.8
import  numpy as np
gap_vs_data["gap_ratio"] = (
    gap_vs_data["number_of_missed_records"] / gap_vs_data["number_of_tickers_at_date"]
)

gap_vs_data["gap_type"] = np.where(
    gap_vs_data["gap_ratio"] >= GLOBAL_THRESHOLD,
    "global",
    "local"
)

In [48]:
gap_vs_data[gap_vs_data['gap_ratio']< 1]

,date,number_of_missed_records,number_of_tickers_at_date,gap_ratio,gap_type
0,2010-01-06,9,2183,0.004123,local
1,2010-01-07,21,2188,0.009598,local
2,2010-01-08,19,2193,0.008664,local
3,2010-01-12,26,2199,0.011824,local
4,2010-01-13,16,2189,0.007309,local
...,...,...,...,...,...
2897,2024-09-13,8,4900,0.001633,local
2898,2024-09-17,9,4899,0.001837,local
2899,2024-09-18,8,4898,0.001633,local
2900,2024-09-19,10,4900,0.002041,local
2901,2024-09-20,6,4896,0.001225,local

In [49]:
global_dates = gap_vs_data.groupby('gap_type')

In [ ]:
# global_dates.get_group('global').to_csv('data/interim/global_gaps_dates.csv')
# for type ,group in global_dates:

In [1]:
df = pd.read_csv('data/interim/train_clean_after_2010_and_bad_tickers.csv')
df['date'] = pd.to_datetime(df['date']) # make sure date is valid
df = df.sort_values(["ticker", "date"]).copy()
df["prev_date"] = df.groupby("ticker")["date"].shift(1)
df["gap_days"] = (df["date"] - df["prev_date"]).dt.days

NameError: name 'pd' is not defined

In [13]:
import numpy as np
df = df_cleaned

In [14]:
df_no_global_gaps

,ticker,date,open,high,low,close,volume,dividends,stock_splits,return,return_is_outlier,prev_date,gap_days
0,ticker_1,2010-01-04,27.875437,28.009543,27.570655,27.662090,2142300.0,0.0,0.0,NaN,False,NaT,NaN
1,ticker_1,2010-01-05,27.729151,27.814489,27.131774,27.302454,2856000.0,0.0,0.0,-0.013001,False,2010-01-04,1.0
2,ticker_1,2010-01-06,27.278065,27.729145,27.278065,27.595039,2035400.0,0.0,0.0,0.010716,False,2010-01-05,1.0
3,ticker_1,2010-01-07,27.637703,27.643798,27.375590,27.497503,1993400.0,0.0,0.0,-0.003535,False,2010-01-06,1.0
4,ticker_1,2010-01-08,27.424356,27.613320,27.253676,27.582842,1306400.0,0.0,0.0,0.003104,False,2010-01-07,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12305712,ticker_999,2024-09-13,85.580002,86.730003,85.199997,85.559998,849200.0,0.0,0.0,0.005051,False,2024-09-12,1.0
12305714,ticker_999,2024-09-17,87.059998,88.120003,87.059998,87.709999,997900.0,0.0,0.0,0.009553,False,2024-09-16,1.0
12305715,ticker_999,2024-09-18,87.720001,87.959999,86.680000,86.870003,757100.0,0.0,0.0,-0.009577,False,2024-09-17,1.0
12305716,ticker_999,2024-09-19,88.220001,89.089996,87.680000,88.800003,885900.0,0.0,0.0,0.022217,False,2024-09-18,1.0
12305717,ticker_999,2024-09-20,89.019997,90.070000,88.610001,89.910004,1665400.0,0.0,0.0,0.012500,False,2024-09-19,1.0

In [15]:
local_gaps

               date       ticker  gap_days
566013   2021-05-06  ticker_1135       2.0
566536   2023-06-06  ticker_1135       4.0
1070415  2023-06-06  ticker_1258       4.0
2697668  2011-09-21  ticker_1663       2.0
2697740  2012-01-05  ticker_1663       2.0
...             ...          ...       ...
10375504 2010-05-06    ticker_53       3.0
10375511 2010-05-18    ticker_53       4.0
10377500 2018-04-13    ticker_53       2.0
10377501 2018-04-17    ticker_53       4.0
11504588 2021-05-06   ticker_803       2.0

[692 rows x 3 columns]